<h3>First, let's fill some basic info about your quiz!</h3>
        <form>
            <div class="form-group">
                <label>Quiz Name</label>
                <input class="form-control" type="text" name="name" [(ngModel)]="quiz.name">
            </div>
            <div class="form-group">        
                <label>Select a category</label>
                <select class="form-control"name="category" [(ngModel)]="quiz.category" placeholder="Select a category" required>
                <option *ngFor="let category of categories" value="{{category.name}}" [ngValue]="category.name" >{{category.name}}</option>
                </select>
            </div>
            <button class="btn btn-outline-primary" data-toggle="modal" data-target="#pictureModal">Add Picture</button>
            <button (click)="submitQuiz()" class="btn btn-outline-primary btn-block active">Create New Quiz!</button>
        </form>              
<div class="modal fade" id="pictureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <file-uploader [buttonLiteral]="'Add Image'" (onUpload)="uploadQuizImage($event)"></file-uploader>
</div>
