.profile-header {
    background: linear-gradient(rgb(100, 223, 216), #60CAE1);
    padding: 20px;
    color: white;

    .profile-header-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

            h2 {
                font-weight: 600;
            }

            h6 {
                font-weight: 300;
            }
    }

    .profile-header-img {
        width: 140px;
        max-height: 140px;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid white;
        margin-bottom: 20px;
    }
}

.profile-header-img > img {
    width: 140px;
    height: auto;
}

