<div *ngIf="quiz">
  <div *ngIf="source==='users'">   
    <div  class="row quiz-header justify-content-md-center" [ngStyle]="{'background-image':getBackgroundImage}" style="background-size:cover; filter: blur(2px); opacity: 0.5">
    </div>
    <div class="content-test">
        <h2 class="user-label">{{quiz.name}}</h2>
        <star-rating-comp 
        *ngIf="quiz.rating" 
        labelText="{{quiz.rating}}"  
        labelPosition="bottom" 
        size="medium"
        [readOnly]="true"
        [starType]="'svg'" 
        [rating]="quiz.rating">
      </star-rating-comp>
      <button class="btn btn-raised btn-info" (click)="retrieveQuiz(quiz)">Play</button>
      <!--<button class="btn btn-raised btn-info" data-toggle="modal" data-target="#friendsModal">Beat Friend</button>-->
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4 info-quiz"> 
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4>Characteristics</h4>
            </div>
            <div class="card-body">
              <h6><span>Owner:</span></h6>
              <a [routerLink]="['/profile', quiz.user._id]">
                <div class="quiz-owner">
                  <div class="owner-img">
                    <img src="{{quiz.user && quiz.user.avatar ? quiz.user.avatar.pic_path : 'assets/images/default-avatar.png'}}" onerror="this.src='assets/images/default-avatar.png'">
                  </div>
                  <span>{{quiz.user.username}}</span>
                </div>
              </a>  
              <h6><span>Category:</span> {{quiz.category}}</h6>
              <h6><span>Number of questions:</span> {{quiz.questions.length}}</h6>
            </div>   
          </div>
        </div>
      <div class="col-md-4 info-ranking"> 
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4>Ranking</h4>
          </div>
          <div class="card-body">
            <div *ngFor="let quizRanking of ranking" class="ranking-row">
              <a [routerLink]="['/profile', quizRanking.userId._id]">
                  <div class="info-user">
                    <div class="ranking-img">
                      <img src="{{quiz.user && quiz.user.avatar ? quiz.user.avatar.pic_path : 'assets/images/default-avatar.png'}}" onerror="this.src='assets/images/default-avatar.png'">
                    </div>
                    <span>{{quizRanking.userId.username}}</span>
                  </div>
              </a>  
              <span>{{quizRanking.result}} points</span>
            </div>
          </div>   
        </div>
      </div>
    </div>  
  </div>      

  <div *ngIf="source==='categories'">
    <div  class="row quiz-header justify-content-md-center" [ngStyle]="{'background-image':getBackgroundImage}" style="background-size:cover; filter: blur(2px); opacity: 0.5" onerror="this.src='assets/images/pencils.png'">
    </div>
    <div class="content-test">
      <h2 class="user-label">{{categoryName}}</h2>
      <star-rating-comp *ngIf="categoryRating" 
        labelText="{{categoryRating}}" 
        labelPosition="bottom" 
        size="medium" 
        [readOnly]="true"
        [starType]="'svg'" 
        [rating]="categoryRating">
      </star-rating-comp>
      <button class="btn btn-raised btn-info" (click)="retrieveQuiz()">Play</button>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-4 info-ranking">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4>Ranking</h4>
          </div>
          <div class="card-body">
            <div *ngFor="let quizRanking of ranking" class="ranking-row">
              <a [routerLink]="['/profile', quizRanking.userId._id]">
                <div class="info-user">
                  <div class="ranking-img">
                    <img src="{{quiz.user && quiz.user.avatar ? quiz.user.avatar.pic_path : 'assets/images/default-avatar.png'}}" onerror="this.src='assets/images/default-avatar.png'">
                  </div>
                  <span>{{quizRanking.userId.username}}</span>
                </div>
              </a>
              <span>{{quizRanking.result}} points</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  

</div> 
<div class="row justify-content-md-center">
  <div class="modal fade" id="friendsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <search-users [searchType]="'friends'" (onSelectUser)="beatFriend($event)"></search-users>
  </div>
</div>