.quiz-header {
    
    .profile-header-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

            h2 {
                font-weight: 600;
            }

            h6 {
                font-weight: 300;
            }
    }

    .profile-header-img {
        width: 140px;
        max-height: 140px;
        overflow: hidden;
        border-radius: 100%;
        border: 2px solid white;
        margin-bottom: 20px;
        background-color: #487b71;
    }
}
.content-test {
    width:96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65px;
    margin: auto;
    color:white;
            
        h2 {
            font-weight: 600;
        }

        h6 {
            font-weight: 300;
        } 
}
.content-test > * {
    margin: 5px 0px; 

}

.profile-header-img > img {
    height: 140px;
    width: auto;
}

.info-quiz {
    span {
        font-weight: 600;
    }
}

.ranking-row {
    padding: 5px 0px;
    display: flex;
    justify-content: space-between; 
    align-items: center;

    .info-user {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
            font-size: 16px;
            font-weight: 400;
        }
    }

    .ranking-img {
        width: 50px;
        max-height: 50px;
        overflow: hidden;
        border-radius: 100%;
        background-color: #487b71;
        margin-right: 10px; 
    }

    .ranking-img > img {
        height: 50px;
        width: auto;
    }

}

.info-quiz {
    .card-body > *{
        margin: 5px 0px;
    }
}
.quiz-owner {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    span {
        font-size: 16px;
        font-weight: 400;
    }
    .owner-img {
        width: 50px;
        max-height: 50px;
        overflow: hidden;
        border-radius: 100%;
        background-color: #487b71;
        margin-right: 10px; 
    }
    
    .owner-img > img {
        height: 50px;
        width: auto;
    }
}
