.form-container {
  margin: 20px;
  padding: 10px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}
.form-row {
  display: flex;
  flex-direction: column;
}
.form-row > label {
  margin-top: 10px;
  height: 30px;
  font-size: 13px;
}
.form-row > input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #dad8d8;  
}
.form-row > input:hover {
  height: 28px;
  border: 2px solid skyblue;
}
.edit-user-btn {
  margin-top: 10px;
  height: 30px;
  background-color: gray;
  color: white;
  cursor: pointer;
}