<div *ngIf="playing" class="question">
  <div class="row quiz-header justify-content-md-center" [ngClass]="{'isCorrect': correctAnswerStyle, 'isIncorrect': wrongAnswerStyle }">
    <div *ngIf="timerCounter>0" class="col-md-8 text-center timer">
      <div id="countdown" style="width: unset"></div>
    </div>
    <div class="col-md-8 text-center"> 
      <h3>{{title}}</h3>
    </div>      
  </div>
  <div class="row justify-content-md-center">
      <div class="col-md-8 text-center"> 
        <div class="all-answers" >
            <button id="{{i}}" *ngFor="let answer of allAnswers; let i = index" (click)="getResponse(answer, i)" class="btn btn-outline-primary quiz-btn" >{{answer}}</button>  
          </div>
      </div>
  </div>      
</div>
<div *ngIf="!playing" class="endGame">
  <div class="row quiz-header justify-content-md-center">
      <div class="col-md-8 text-center"> 
        <h3>The quiz has ended</h3>
      </div>      
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-8 text-center"> 
          <p>Your score was: {{totalCorrect}}/{{allQuestions.length}}</p>
          <p>Correct answers: {{totalCorrect}}</p>
          <p>Total questions: {{allQuestions.length}}</p>
          <star-rating-comp 
            class="start-rating-custom" 
            size="large"
            [starType]="'svg'" 
            [hoverEnabled]="true" 
            (onClick)="onClick($event)"
          >
          </star-rating-comp>
      </div>      
    </div>
</div>
