.all-answers button {
    padding: 10px;
    margin: 15px; 
    background-color: white;
    border: 1px solid black;
    color: black; 
   }

.start-rating-custom:focus {
    outline: 10px solid red;
}
