<div class="row mb-3">
  <div class="col-md-12 info-ranking">
    <div class="card box-shadow">
      <div class="card-header">
        <h4>Category Stats</h4>
      </div>
      <div class="card-body">
          <canvas id="user-radar-chart">{{ chart }}</canvas>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
<div class="col-md-12 info-ranking">
  <div class="card box-shadow">
    <div class="card-header">
      <h4>Games played by category</h4>
    </div>
    <div class="card-body">
      <canvas id="user-pie-chart">{{ chart }}</canvas>
     <!-- <dl>
        <dd *ngFor="let stat of _stats" class="percentage" [ngClass]="computeClass(stat.count)">
          <span class="text">
            {{stat._id}}
          </span>
        </dd>
      </dl>-->
    </div>
  </div>
</div>
</div>
