<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add Friend</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 upload-box">
            <form class="example-form">
              <div class="form-group">
                <label>Search Users</label>
                <input class="form-control" type="text" placeholder="username" [formControl]="searchTerm">
              </div>
                <div *ngFor="let item of searchResult" class="row">
                  <div class="col-md-2 vcenter">
                    <div class="profile-header-img" (click)="goToUser(item._id)" data-dismiss="modal">
                      <img src="{{item.avatar ? item.avatar.pic_path :''}}" onerror="this.src='assets/images/default-avatar.png'" />
                    </div>
                  </div>
                  <div class="col-md-6 vcenter username">
                    <span>{{ item.username }}</span>
                  </div>
                  <div class="col-md-1 vcenter mt-3">
                    <button *ngIf="searchType === 'friends'" type="button" class="btn btn-raised btn-info" (click)="selectUser(item)" data-dismiss="modal">Challenge a Friend</button>
                    <button *ngIf="searchType !== 'friends'" type="button" class="btn btn-raised btn-info" (click)="selectUser(item)" data-dismiss="modal">Add Friend</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 