<!-- main app container -->
<div class="app-container container-fluid">
    <div class="row">
        <div class="col-md-12 fullwidth2">
            <navbar></navbar>
        </div>
    </div> 
    <div class="row content">
            <div class="col-md-12">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
    </div>
    <div class="row footer">    
        <div class="col-md-12 fullwidth2">
            <app-footer></app-footer>
        </div>        
    </div>
</div>


