<!-- main app container -->
<div class="app-container">
    <navbar></navbar>
    <div>
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
</div>

<!-- credits -->
<footer>
    <div class="container footer-container">
        <span>
                <a href="" target="_top">Quizy</a>
        </span>
        <span>
                <a href="https://github.com/juliabellone">Julia</a><span> & </span><a href="https://github.com/luis-sanfelices">Luis</a>
        </span>
    </div>
</footer>
