<!--<ngfFormData [files]="files" postName="file" [(FormData)]="formData"></ngfFormData>

<div ngfDrop
  selectable="1" 
  [(validDrag)]="validComboDrag" 
  [(files)]="files" 
  accept="image/*" 
  [(lastInvalids)]="lastInvalids" [(dragFiles)]="dragFiles" class="well my-drop-zone" [class.invalid-drag]="validComboDrag===false"
  [class.valid-drag]="validComboDrag"
>
  Combo drop/select <strong>image</strong> only zone
</div>
<div *ngFor="let item of files;let i=index">
    <strong>{{ item.name }}</strong>
</div>
<button type="button" class="btn btn-success btn-s" (click)="uploadFiles()" [disabled]="!files>0">
  upload
</button>-->

<style>
  .my-drop-zone {
    border: dotted 3px lightgray;
  }

  /* Default class applied to drop zones on over */

  .invalid-drag {
    border: dotted 3px red;
  }

  .valid-drag {
    border: dotted 3px green;
  }

  html,
  body {
    height: 100%;
  }

  .previewIcon {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .inline-block {
    display: inline-block;
    margin: .2em;
  }
</style>

<div>
  <div class="inline-block">
    <div ngfDrop multiple="1" selectable="1" [(validDrag)]="validComboDrag" [(files)]="files" accept="image/*" [maxSize]="maxSize"
      [(lastInvalids)]="lastInvalids" [(dragFiles)]="dragFiles" class="well my-drop-zone" [class.invalid-drag]="validComboDrag===false"
      [class.valid-drag]="validComboDrag">
      Combo drop/select
      <strong>image</strong> only zone
    </div>
  </div>
</div>

<div style="margin-bottom: 40px">
  <h3>{{ files ? files.length : 0 }} Qued Files</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of files;let i=index">
        <td>
          <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0">
            <div class="previewIcon" [ngfBackground]="item"></div>
          </div>
          <strong>{{ item.name }}</strong>
        </td>
        <td nowrap>
          {{ item.type }}
        </td>
        <td nowrap>
          {{ item.size/1024/1024 | number:'.2' }} MB
        </td>
        <td nowrap>
          <button type="button" class="btn btn-danger btn-xs" (click)="files.splice(i,1)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <button type="button" class="btn btn-success btn-s" (click)="uploadFiles(files)" [disabled]="!files">
      <span class="glyphicon glyphicon-upload"></span> Upload all
    </button>

  </div>
</div>
