.quiz-header {
    background: linear-gradient(rgb(100, 223, 216), #60CAE1);
    padding: 20px;
    color: white;
    margin-bottom: 30px;
    h1 {
        margin-bottom: 30px;
    }
    .col-md-8 {
        padding: 50px 20px;
    }

}

.quiz-deck {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content:stretch;
    flex-wrap: wrap;

}
.quiz-card {
    width: 30%;
    min-width: 240px;
} 
.card {
    background-color: #3E3F4C;
    min-height: 390px;
    .card-body {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center
    }
}
