.jumbotron {
    .btn {
        background-color: #7EAEAE;
        color: #2D323E;
    }
}
.card {
    background-color: #5FB55E;
    .card-body {
        .btn {
            background-color: #F5F3F5;
            color: #2D323E;
        }
    }
}