<div class="row mb-3">
  <div class="col-md-12 info-ranking">
    <div class="info-ranking">
      <div class="card box-shadow">
        <div class="card-header">
          <h4>Friends</h4>
        </div>
        <div class="card-body" *ngIf="friends.length > 0">
          <div *ngFor="let friend of friends" class="ranking-row">
              <a [routerLink]="['/profile', friend._id]">
                <div class="info-user">
              <div class="ranking-img">
                <img src="{{friend.avatar ? friend.avatar.pic_path : 'assets/images/default-avatar.png'}}" onerror="this.src='assets/images/default-avatar.png'">
              </div>
              <span>{{friend.username}}</span>
            </div>
            </a>
          </div>
        </div>
        <div class="card-body" *ngIf="friends.length === 0">
          <div class="row mb-3">
              <div class="col-md-12 info-ranking">
                <span>You have no friends yet, you hikikomori</span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>