.ul-logo {
    margin-right: 0px !important;
}
.notifications {
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 100%;
    background-color: gray;
}
