<div *ngIf="notifications.length > 0" class="row mb-3">
  <div class="col-md-12 info-ranking">
    <div class="info-ranking">
      <div class="card box-shadow">
        <div class="card-header">
          <h4>Notifications</h4>
        </div>
        <div class="card-body">
          <div *ngFor="let notification of notifications" class="ranking-row">
            <div *ngIf="notification.notificationType === 'new friend' && notification.fromUser" class="info-user">
              <div (click)="goToUser(notification.fromUser._id)" class="ranking-img">
                <img src="{{notification.fromUser && notification.fromUser.avatar ? v : 'assets/images/default-avatar.png'}}" onerror="this.src='assets/images/default-avatar.png'">
              </div>
              <span>{{notification.fromUser ? notification.fromUser.username : 'tiritiritiri'}} added you as friend</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>