/* You can add global styles to this file, and also import other style files */
a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.app-container {
    background-image: url('./assets/images/background.png'); 
    min-height: 800px;
}

body {
  font-family: 'avenir', Arial, Helvetica, sans-serif;
  font-size: 12px;
}