html{
    min-height:100%;
    width:100%;
    background: #fff;
    position:relative;
 }
body{
   position:absolute;
   min-height:100%;
   width:100% ;
   height:100%;
   font-family: 'Rubik', sans-serif;
}

.content {
    min-height: 100vh;
    margin-bottom: 70px;
}

.fullwidth2 {
    padding: 0;
}
