/* You can add global styles to this file, and also import other style files */
a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.jumbotron {
    background: -webkit-linear-gradient(bottom left, rgb(115, 97, 194) 0%, rgb(240, 179, 67) 100%);
}

body {
  font-family: 'avenir', Arial, Helvetica, sans-serif;
  font-size: 12px;
}