/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'avenir', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

a, h1, h2, h3, p {
    color: #2D323E;
}
a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.app-container {
    background-image: url('./assets/images/background.png'); 
    min-height: 800px;
}

/* Bootstrap modificactions */

.jumbotron {
    background-color: transparent; 
}